html, body, :root {
  height: 100%;
  background-color: #000000;
  /* background-image: url('../src/assets/blueexpback.png'); */
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Varela Round", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.active, .nav-link:focus{
  color: white;
}